<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Agenda{% endblock %}</title>

    <!-- Carrega os arquivos estáticos -->
    {% load static %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/servico.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- ======= NAVBAR ======= -->
    <nav>
      <div class="logo">Agenda</div>

      <div class="menu">
        <a href="{% url 'home' %}">Home</a>
        <a href="#">Cliente</a>
        <a href="{% url 'service'}">Serviço</a>
        <a href="#">Agenda</a>
      </div>

      <div class="buttons">
        <button id="btnLogin">
          <a href="{% url 'login' %}" class="btn">Login</a>
        </button>
        <button id="btnCadastro">
          <a href="{% url 'cadastro' %}" class="btn">Cadastro</a>
        </button>
      </div>
    </nav>

    <!-- ======= CONTEÚDO PRINCIPAL ======= -->
    <main>{% block 'dashboard'%} {% endblock %}</main>
    <!-- ======= JS ======= -->
    <script src="{% static 'js/servico.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
