{% extends 'base.html' %}

{% block title %}Serviços{% endblock %}

{% block dashboard %}

<body>
    <header>
      <h1>Escolha um Serviço</h1>
      <p style="font-size: 14px; margin-top: 10px;">
        
      </p>
    </header>

    <div class="container">
      <div class="service-box">
        <h3>Serviço A</h3>
        <p>
          Descrição do Serviço A. Este serviço oferece uma solução rápida e
          eficiente para suas necessidades.
        </p>
        
        {% if user.is_authenticated %}
            <button class="button" onclick="openModal('Serviço A')">
                Agendar Agora
            </button>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="button">
                Fazer Login para Agendar
            </a>
        {% endif %}

      </div>

      <div class="service-box">
        <h3>Serviço B</h3>
        <p>
          Descrição do Serviço B. Obtenha resultados excelentes e uma
          experiência personalizada com este serviço.
        </p>
        {% if user.is_authenticated %}
            <button class="button" onclick="openModal('Serviço B')">
                Agendar Agora
            </button>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="button">
                Fazer Login para Agendar
            </a>
        {% endif %}
      </div>

      <div class="service-box">
        <h3>Serviço C</h3>
        <p>
          Descrição do Serviço C. Um serviço de alta qualidade para atender às
          suas necessidades específicas.
        </p>
        {% if user.is_authenticated %}
            <button class="button" onclick="openModal('Serviço C')">
                Agendar Agora
            </button>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="button">
                Fazer Login para Agendar
            </a>
        {% endif %}
      </div>
    </div>

    {% if user.is_authenticated %}
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-header">
                    <h2>Agendar - <span id="serviceName"></span></h2>
                </div>
                <div class="modal-body">
                    <input type="text" id="name" placeholder="Seu nome" value="{{ user.get_full_name|default:user.nome }}" disabled required />
                    <input type="email" id="email" placeholder="Seu e-mail" value="{{ user.email|default:'email@exemplo.com' }}" disabled required />
                    <input type="datetime-local" id="datetime" required />
                </div>
                <div class="modal-footer">
                    <button class="button" onclick="submitForm()">
                        Confirmar Agendamento
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
</body>
{% endblock %}
